<%= form_with model: @event, local: true do |form| %>
  <p>
    <%= form.label :title %></br>
    <%= form.text_field :title %></br>
  </p>
  <p>
    <%= form.label :description %></br>
    <%= form.text_field :description %></br>
  </p>
  <p>
    <%= form.label :location %></br>
    <%= form.text_field :location %></br>
  </p>
  <p>
    <%= form.label :start_time %></br>
    <%= form.text_field :start_time %></br>
  </p>
  <p>
    <%= form.label :end_time %></br>
    <%= form.text_field :end_time %></br>
  </p>
  <p>
    <%= form.label :organizer_email %></br>
    <%= form.text_field :organizer_email %></br>
  </p>
  <p>
    <%= form.label :organizer_telegram %></br>
    <%= form.text_field :organizer_telegram %></br>
  </p>
  <p>
    <%= form.label :link %></br>
    <%= form.text_field :link %></br>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
