
<div class="event">
  <h1><%= @event.title %></h1>
  <p><%= @event.description %></div>
  <div class="coordinates">
    <p><%= @event.location %></p>
    <p>Начало: <%= @event.start_time %></p>
    <p>Конец: <%= @event.end_time %></p>
  </div>
  <div class="contacts">
    <p><%= @event.organizer_email %></p>
    <p><%= @event.organizer_telegram %></p>
    <p><%= @event.link %></p>
  </div>

  <nav>
    <%= link_to 'Back To Events', events_path %> |
    <%= link_to 'Edit Event', edit_event_path(@event) %>
  </nav>
<div>
